<div id="sidebarcomponent">
  <!-- multicode icon  -->
  <div class="coderoom">
    <h3>CodeRoom</h3>
    <div class="content">
      <span
        >C:User/Desktop/ <span><i class="fas fa-folder"></i></span
      ></span>
      <div (click)="showHide()">
        <i class="fas fa-plus"></i>
      </div>
    </div>
  </div>
  <!-- file management panel -->
  <div class="filepanel">
    <div [ngClass]="{ hide: !show }" class="form">
      <form [formGroup]="files">
        <input type="text" formControName="newFile" class="form-control" />
      </form>
    </div>
  </div>
</div>
