#appcomponent {
  background-color: rgb(243, 242, 242);
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

/* left panel */
/* main panel */
leftpanel {
}
mainpanel {
  width: 100%;
}
