<div class="start-popup">
  <div class="popup-container">
    <div class="popup-header"><h1>Just a step away</h1></div>
    <div class="popup-body signup">
      <div>
        <input type="text" placeholder="Email" />
      </div>
      <div class="password">
        <input type="password" placeholder="Password" />
        <!-- <a href="#"><i class="fas fa-arrow-circle-right"></i></a> -->
      </div>
      <button>Sign In</button>
    </div>
    <div class="popup-footer">
      <footer>Copyright &copy; Multicode</footer>
    </div>
  </div>
</div>
