#leftpanel {
  width: 100%;
  height: 100vh;
  background-color: var(--primary-color);
  display: flex;
  position: relative;
}
sidebarcontrols {
  border-right: 2px solid var(--border-color);
  padding: 12px;
}
sidebarcomponent {
  border-right: 2px solid var(--border-color);
  width: 0;
  transition: 0.5s;
  overflow: hidden;
}
sidebarcomponent.active {
  width: 18rem;
}
