<!-- leftpanel -->
<div id="leftpanel">
  <!-- sidebarcontrols -->
  <div id="sidebarcontrols">
    <!-- top icons -->
    <div class="icons top-icons">
      <div>
        <a href="#"><i class="far fa-copy" #fasicon></i></a>
      </div>
      <div>
        <a href="#"><i class="fas fa-user-friends"></i></a>
      </div>
      <div>
        <a href="#"><i class="fas fa-comments"></i></a>
      </div>
      <div>
        <a href="#"><i class="fas fa-cog"></i></a>
      </div>
    </div>

    <!-- bottom icons -->
    <div class="icons bottom-icons">
      <div>
        <a href="#"><i class="far fa-circle"></i></a>
      </div>
      <div>
        <a href="#"><i class="fas fa-share-square"></i></a>
      </div>
    </div>
  </div>
  <!-- <sidebarcontrols> </sidebarcontrols> -->

  <sidebarcomponent></sidebarcomponent>
  <!-- <app-teaminfo></app-teaminfo> -->

  <!-- chat comp -->
</div>
