<!-- <router-outlet></router-outlet> -->

<!-- step 1 -->
<!-- <app-start-popup></app-start-popup> -->

<!-- step 2 - i -->
<!-- <app-create-team></app-create-team> -->

<!-- step 2 - ii -->
<!-- <app-join-team></app-join-team> -->

<!-- step 3 -->
<app-mainwindow></app-mainwindow>

<!-- <app-sign-up></app-sign-up> -->
<!-- <multicodemain></multicodemain> -->

<!-- <app-import-popup></app-import-popup> -->
<!-- <app-sign-up></app-sign-up> -->

<!-- <app-join-team></app-join-team> -->

<!-- <app-create-room></app-create-room> -->
